body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

/* Estilos generales para la barra de navegación */
.home_header {
    display: flex;
    justify-content: center; /* Centra horizontalmente los elementos */
    align-items: center; /* Centra verticalmente los elementos */
    padding: 10px 20px; /* Espaciado interno superior e inferior */
    background-color: #040c1c; /* Color de fondo (ajústalo según tus preferencias) */
}

/* Estilos para el logotipo */
.logo_header img {
    max-width: 30px; /* Ajusta el tamaño del logotipo según tus necesidades */
}

/* Estilos para los enlaces de navegación */
.nav_header ul {
    list-style-type: none; /* Elimina los marcadores de viñetas */
    margin-left: 20px;
    padding: 0;
    display: flex; /* Muestra los elementos en línea */
    gap: 20px; /* Espaciado entre los elementos */
}

.nav_header a {
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    color: #efe9e9; /* Color del texto de los enlaces */
    font-weight: bold; /* Peso de la fuente (ajústalo según tus preferencias) */
}

footer {
    background-color: #d5d5d5; /* Color de fondo */
    padding: 50px 0; /* Espaciado interno */
    margin-top: 30px;
}

.footer_container {
    max-width: 1200px; /* Ancho máximo del contenido */
    margin: 0 auto; /* Centrar horizontalmente */
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos */
    justify-content: center; /* Distribuye los elementos */
}

.logo_footer img {
    width: 100px; /* Ancho del logo */
    height: auto; /* Altura automática */
}

.info_footer {
    text-align: center; /* Alineación del texto */
}

.info_footer p {
    margin: 10px 20px; /* Espaciado entre párrafos */
    color: #666; /* Color del texto */
}

.info_footer a {
    color: #007bff; /* Color del enlace */
    text-decoration: none; /* Sin subrayado */
}

.info_footer a:hover {
    text-decoration: underline; /* Subrayado al pasar el ratón */
}

.container {
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}

.title_registro {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
input[type="number"],
select,
textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23333" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
    background-position: right 10px top 50%;
    background-repeat: no-repeat;
    background-size: 24px;
}

textarea {
    resize: vertical;
}

.button-group {
    text-align: center;
}

button {
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    background-color: #7c3fe6;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #5426a8;
}

#clear-btn {
    margin-left: 10px;
    background-color: #ddd;
    color: #333;
}

#clear-btn:hover {
    background-color: #bbb;
}

.home_body {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.home_presentacion {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
}

.text_banner {
    text-align: center;
    margin-bottom: 20px;
}

.form_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#exercise-form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.form-left, .form-right {
    flex: 1;
    min-width: 300px;
}

.form-left p {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.preview_img {
    margin-bottom: 20px;
    width: 100%;
    max-width: 300px; 
    margin-left: 50px; 
    text-align: center;
}

.preview_img img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.form_buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#submit-btn, #clear-btn {
    width: 150px;
    background-color: #221974;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

#submit-btn:hover, #clear-btn:hover {
    background-color: #0e0f46;
}
